* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    html {
        font-size: 10px;
    }



    body {
    background: url('grid.png');
    background-position: 0 1000px;
    font-family: sans-serif;
    }

    .container {
max-width: 1100px;
margin: 0 auto;
padding: 0 3rem;
margin-top: 4rem;
text-align: center;

    }

    h1 {
color: plum;
font-size: 5rem;
font-weight: 700;
letter-spacing: 8px;
margin-bottom: 2rem;
text-shadow: 8px 8px 8px aquamarine;
}

h2 {
color:rgb(15, 233, 218);
font-size: 4rem;
font-weight: 400;
text-shadow: 8px 8px 8px plum;
}

.image {
    margin-top: 10rem;
    margin-bottom: 5rem;

}